DATABASE_URL="postgresql://postgres:password@localhost:5432/rocketcrown?schema=public"
JWT_SECRET="your-super-secret-jwt-key"
BOT_TOKEN="123456:ABC-DEF1234gh"
PORT=3001
CLIENT_URL="http://localhost:5173"
UPLOAD_DIR="./uploads"